.navbar
  position: absolute
  left: 150px
  top: 30px
  display: flex
  justify-content: flex-start
  width: 355px
  &__list
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 325px
    padding: 0
    list-style: none
  &__item
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 17px
    &-link
      text-decoration: none
      color: #FFFFFF
